* {
	margin: 0 auto;
	text-decoration: none;
	list-style: none;
	outline-style: none !important;
	outline: none !important;
}

body {
	background-color: #FCFBEF !important;
	min-height: 100vh;
}

#cabecera {
	text-align: center;
	margin: 20px;
	padding: 5px;
}

img {
	margin: 15px;
	height: 200px;
}

h1 {
	color: #ffc107;
}

h4 {
	font-weight: normal !important;
}

#contenido {
	align-items: center;
	justify-content: center;
	width: auto;
}

.btn-intercambiar {
	margin-left: 30px;
	padding: 5px 12;
}

#botones {
	text-align: center;
}

#botones button {
	width: 30%;
	font-weight: bold;
	color: white;
	letter-spacing: 3px;
}

.rounded-fill{
	padding: 0px !important;
}

path {
	stroke: grey;
	pointer-events: all;
}

svg {
	height: 25px;
	margin: 0;
	cursor: pointer;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
}

svg:hover {
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}

form, .form {
	width: 80%;
}

.taza-cambio-contenedor {
	align-items: center;
	justify-content: space-between;
}

.intercambio {
	color: #ffc107;
	font-size: 17px;
	padding-left: 40%;
}

input {
	border: 0;
	text-align: right;
}

input[type=number] {
	font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

::placeholder {
	color: black !important;
	font-weight: bold;
	opacity: 0;
}

.form-select {
	width: auto !important;
}

select:focus,
input:focus,
button:focus,
button:active {
	outline: none !important;
}

footer {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.05);
}

#creditos {
	color: white !important;
	text-decoration: none;
	letter-spacing: 3px;
	opacity: 0.7;
	text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(30, 48, 99, 0.8), 0px 4px 7px rgba(57, 86, 216, 0.8);
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
}

footer div:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/*RESPONSIVE*/
@media (max-width: 500px){
	.intercambio {

		font-size: 16px;
		padding-left: 20%;
	}
}

@media (max-width: 400px){
	.intercambio {

		font-size: 15px;
		padding-left: 10%;
	}
}